@use "../../../../presets/index" as *;
@use "../../../../mixins/index" as *;

.services {
  position: relative;
  border-radius: 0 0 12px 12px;
  background: linear-gradient($bg-gradient2);

  @include lg-min {
    padding-bottom: 100px;
  }
  @include lg-sm {
    padding-bottom: 50px;
  }
  @include sm {
    padding-bottom: $gap;
  }

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    right: 20px;
    left: 20px;
    height: 20px;
    border-radius: 0 0 12px 12px;
    background-color: $color-gray-separator;
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 10px;
    left: 10px;
    height: 10px;
    border-radius: 0 0 12px 12px;
    background-color: $color-gray-text;
  }

  &__container {
    @extend %container;
  }

  &__page-link {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba($color-white, 0.5);
    font-size: 14px;
  }

  &__page-img {
    margin-left: 3px;
  }

  &__grid {
    display: grid;
    gap: 40px;

    @include xl-min {
      grid-template-columns: repeat(3, 1fr);
    }
    @include xl-md {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__title {
    padding-top: 10px;
    @extend %text-liner-gradient;

    @include md-min {
      width: max-content;
    }
    @include sm-min {
      margin-bottom: 60px;
      font-size: 42px;
    }
    @include sm {
      margin-bottom: 40px;
      font-size: 32px;
    }
  }
}

.service-item {
  display: grid;
  align-items: center;
  gap: 10px;
  grid-template-rows: auto auto 1fr;

  @include xl {
    grid-template-columns: auto 1fr;
  }

  &__image {
    @include md-min {
      width: 92px;
      height: 92px;
    }
    @include md {
      width: 65px;
      height: 65px;
    }
  }

  &__title {
    color: $color-active;
    font-weight: 500;

    @include sm-min {
      font-size: 24px;
      line-height: 26px;
    }
    @include sm {
      font-size: 18px;
      line-height: 21px;
    }
  }

  &__descriptin {
    color: $color-white;
    line-height: 1.44;

    @include sm-min {
      font-size: 18px;
    }
    @include xl {
      grid-column: 1 / span 3;
    }
    @include md {
      line-height: 22px;
    }
  }
}
