@use "../../mixins" as *;
@use "../../presets" as *;

.represent {
  @extend %container;
  background-color: $color-white;
  padding-top: 80px;

  @include md {
    padding-top: 40px;
  }

  &__title {
    margin: 0 auto;
    max-width: 860px;
    font-size: 42px;
    line-height: 50px;
    @extend %text-liner-gradient2;

    @include md {
      font-size: 32px;
      line-height: 38px;
    }
  }

  &__team {
    display: grid;

    @include xl-min {
      padding-top: 80px;
    }
    @include xl-md {
      padding-top: 40px;
    }

    @include md {
      padding-top: 20px;
    }

    @include xl-min {
      grid-template-columns: repeat(3, 1fr);
    }
    @include xl-lg {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .team {
    &-employee {
      display: flex;
      @include md-min {
        flex-direction: column;
        padding: 20px;
      }

      @include md {
        padding-bottom: 20px;
        gap: 20px;
        align-items: flex-end;
      }

      &__img {
        border-radius: 12px;

        @include md {
          width: 160px;
        }
      }
      &__flex {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        @include md {
          justify-content: center;
          flex-direction: column;
          gap: 10px;
        }
      }
      &__descrip {
        display: flex;
        flex-direction: column;
      }
      &__button {
        cursor: pointer;
        width: 32px;
      }
    }

    .descrip {
      &__name {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: $color-primary;
        padding-bottom: 5px;
      }

      &__positions {
        font-size: 16px;
        line-height: 22px;
        color: $color-gray-text;
      }
    }
  }
}
