@use "../../presets" as *;
@use "../../mixins" as *;

.action {
  display: flex;
  gap: $gap;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
 a {
      color: $color-gray-text;
    }

  @include lg {
    justify-content: space-between;
    }

  &__languages {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    display: flex;
    gap: 2px;
  }

  &__language-link {
    display: block;
    padding: 6px 6px 5px 7px;
    border-radius: 8px;

    &.active {
      background-color: $color-accent;
             color: $color-white;
        }
  }

  &__locations {
    @include dot-foot;
  
    @include xl {
      display: none;
    }
  }

  &__phone-link {
    font-weight: 700;
    white-space: nowrap;
    @include dot-foot;
  }

  &__socials {
       &::before {
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background-color: $color-gray-text;
        margin-right: 10px;
      margin-bottom: 8px;

      @include lg {
        display: none;
      }
    }

    @include lg {
      display: none;
    }
  }
}
