@use "../../../presets" as *;
@use "../../../mixins" as *;

.representation {
  grid-area: rep;
  padding-top: 40px;
  padding-right: 9px;

  &__link {
    color: $color-active;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  &__img {
    margin-left: 5px;
  }

  &__descriptin {
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    @extend %text-liner-gradient2;
    padding-bottom: $gap;

    @include sm {
      font-size: 30px;
      line-height: 32px;
    }
  }

  &-partner {
    padding-top: 5px;
    padding-bottom: 10px;
    grid-area: ptr;
    display: flex;
    gap: 10px;
    align-items: center;

    &__photo {
      border-radius: 25px;

      @include lg-min {
        display: none;
      }
    }
  }
  &-person {
    color: $color-gray-text;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 10px;
    grid-area: ptr;
    display: flex;
    gap: 5px;
    flex-direction: column;

    &__name {
      font-size: 18px;
      line-height: 21px;
      color: $color-gray-text;

      @include sm-min {
        padding-bottom: 5px;
      }

      @include sm {
        font-size: 11px;
      }
    }

    &__position {
      font-size: 16px;
      color: $color-gray-text;

      @include sm {
        font-size: 10px;
      }
    }
  }
}
