@use "../../../presets" as *;
@use "../../../mixins" as *;

.team {
   padding-top: 60px;
  padding-bottom: 60px;

  @include sm {
    padding-top: 40px;
  }

  &__container {
    @extend %container;
  }
}

.team-item {
  background-color: $color-gray-bg;
  border-radius: 12px 12px 12px 12px;
  display: grid;
  padding-left: 20px;
  margin-bottom: $gap;

  @include lg-min {
    grid-template-areas: "photo rep" "photo ptr";
    gap: 40px;
  }
  @include lg {
    grid-template-areas: "rep rep" "photo photo" "ptr ptr";
    gap: $gap;
  }
  @include sm {
    grid-template-areas: "rep rep" "photo ptr";
    gap: 5px;
  }

  &__photo {
    grid-area: photo;
  }
  &__image {
    @include lg {
      display: none;
    }
  }

  &__indicators {
    display: flex;
    justify-content: center;
    gap: 14px;
  }

  &__indicator {
    width: 16px;
    height: 16px;
    opacity: 0.2;
    border-radius: 8px;
    background-color: $color-active;

    &.active {
      opacity: 1;
    }
  }
}
