@use "../../../presets" as *;
@use "../../../mixins" as *;

.slider {
  display: flex;
  color: $color-white;

  @include lg-min {
    gap: 80px;
  }
  @include lg {
    flex-direction: column;
  }

  &__headers {
    position: relative;
    flex-grow: 2;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    gap: $gap;
    margin: 0;

    @include lg-min {
      &::after {
        content: "";
        position: absolute;
        width: 4px;
        height: 100%;
        right: -42px;
        background-color: $color-gray-separator;
      }
    }
  }

  &__header {
    color: $color-gray-text;
    font-weight: 700;
    user-select: none;
    position: relative;

    @include lg-min {
      line-height: 50px;
      text-align: right;
      font-size: 42px;
    }
    @include lg {
      display: none;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      width: min-content;
      white-space: nowrap;
      margin-bottom: 10px;
    }

    &.active {
      @extend %text-liner-gradient;

      @include lg-min {
        &::after {
          content: "";
          position: absolute;
          width: 4px;
          height: 100%;
          right: -42px;
          background-color: $color-accent;
          z-index: 2;
        }
      }
      @include lg {
        display: block;
      }
    }
  }

  &__notes {
    flex-grow: 3;
    flex-basis: 0;
    display: flex;
    align-items: center;
    color: $color-white;
  }
  &__note {
    position: absolute;
    z-index: -9999;
    opacity: 0;

    &.active {
      position: static;
      z-index: inherit;
      opacity: 1;
    }
  }

  &__title {
    gap: $gap;
    margin-bottom: $gap;

    @include lg-min {
      font-size: 32px;
      line-height: 38px;
      padding-right: 40px;
    }
    @include lg {
      font-size: 22px;
      margin-bottom: 15px;
      padding-right: 10px;
    }
  }

  &__description {
    line-height: 143%;
    font-size: 21px;
    padding-right: 150px;

    @include lg {
      font-size: 18px;
      padding-right: 10px;
      margin-bottom: $gap;
    }
  }
  &__indicators {
    display: flex;
    justify-content: center;
    gap: 14px;
  }
  &__indicator {
    width: 16px;
    height: 16px;
    opacity: 0.2;
    border-radius: 8px;
    background-color: $color-active;

    @include lg-min {
      display: none;
    }
    &.active {
      opacity: 1;
    }
  }
}
