@use "../../../presets" as *;
@use "../../../mixins" as *;

.cases__content {
  display: flex;
  flex-direction: column;
  background-color: $color-gray-bg;

  @include lg-md {
    grid-column-end: 3;
    grid-column-start: 1;
  }
  &-title {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-accent;
    padding: $gap;
    border-bottom: 2px solid $color-white;
  }
}
