@use "../../../presets" as *;
@use "../../../mixins" as *;

.cases-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  background-color: $color-gray-bg;
  gap: 20px;

  @include lg {
    grid-column-end: 3;
    grid-column-start: 1;
  }

  &__description {
    font-size: 24px;
    line-height: 28px;
    color: $color-primary-soft;
    font-weight: 500;

    @include sm {
      font-size: 18px;
      line-height: 21px;
    }
  }
  &__link {
    font-size: 18px;
    color: $color-gray-text;
  }
}
