@use "../presets" as *;

%container {
  max-width: $ul;
  margin-right: auto;
  margin-left: auto;
  padding-right: $gap;
  padding-left: $gap;
}

%text-liner-gradient {
  background: linear-gradient($text-gradient);

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

%text-liner-gradient2 {
  background: linear-gradient($text-gradient2);

  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
}
