$color-primary: #323264;
$color-primary-alt: #46466e;
$color-primary-soft: #686887;

$color-accent: #f0145a;
$color-active: #24a3ff;
$color-active-alt: #0085ff;
$color-active-soft: #006ccf;

$color-shadow-bg: #cacadb;
$color-shadow-light-bg: #e7e7f2;

$color-gray-bg: #f5f5fa;
$color-gray-bg-alt: #ededf7;
$color-gray-text: #b3b3ba;
$color-gray-separator: #e6e6f0;
$color-gray-bg-foot: #e5e5e5;

$color-white: #ffffff;
$color-black: #000000;

$bg-gradient1: 42deg, $color-primary 15%, $color-primary 50%, #7a425e 88%;
$bg-gradient2: 190deg, $color-primary 12%, $color-primary 57%, #643e72 87%;
$text-gradient: 90deg, #ef8080 35%, $color-accent 100%;
$text-gradient2: 90deg, $color-accent 1%, #ef8080 50%;
