@use "../../presets" as *;
@use "../../mixins" as *;

.page-footer {
  background-color: $color-gray-bg;
  padding-bottom: 40px;

  @include lg {
    padding-bottom: 115px;
  }

  &__container {
    @extend %container;
  }
}

.footer__nav {
  display: grid;
  row-gap: 30px;
  grid-template-areas: "loc copy" "con copy";
  padding-top: 35px;
  border-top: 4px solid $color-gray-separator;

  @include lg {
    grid-template-areas: "loc" "con" "copy";
    row-gap: $gap;
    padding-top: 25px;
  }

  &-copyright {
    grid-area: copy;
    display: flex;
    justify-content: flex-end;
    color: $color-gray-text;
    line-height: 19px;

    @include lg {
      justify-content: center;
      text-align: center;
    }
  }
}

.footer__location {
  grid-area: loc;
  display: flex;
  align-items: center;
  gap: 30px;

  @include lg {
    flex-direction: column;
    gap: 10px;
  }

  &-address {
    font-weight: 500;
    white-space: nowrap;
    color: $color-primary-soft;
  }
  &-link {
    position: relative;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-active;

   @include dot-foot;
  }
}

.footer__connect {
  grid-area: con;
  display: flex;
  align-items: center;
  gap: $gap;

  @include lg {
    flex-direction: column;
  }
  &-phone {
    position: relative;
    font-weight: 700;
    color: $color-primary-alt;

    @include dot-foot;
  }
  &-email {
    position: relative;
    font-weight: 700;
    color: $color-active;

    @include dot-foot;
  }
}
